/* @media (max-width: 1261px) {
    .navigation-bar {
        display: none;
    }

    .hem-bar {
        display: block;
    }

    .navigation-page-bar {
        display: none;
    }

    .image-with-text-first-image {
        position: static;
    }


    .main-heading-content {
        padding: 15px 30px;
        grid-template-columns: 40% 15% 40%;

    }

    .grid-col-3-dekstop .grid-item {
        width: calc(33% - 16px);
        max-width: calc(33% - 16px);
    }

    .main-heading-content {
        grid-template-columns: 40% 11% 44%;
    }

    .header-icons {
        gap: 10px;
    }

    .swiper-slide img {
        aspect-ratio: 10/11;
    }

    .grid {
        row-gap: 30px;
    }

    h5 {
        font-size: var(--font-size-sub-heading);
    }

    .grid {
        justify-content: center;
    }

    .page-width {
        padding: 0px 12px;
    }

    .main-images {
        aspect-ratio: 3/2;
    }

    .grid {
        row-gap: 30px;
        justify-content: center;
    }

    .image-with-text.grid.grid-col-2-dekstop {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-content: center;
    }

    .images-with-text-images.grid-items {
        align-self: baseline;
    }

    .banner-page-content.image-with-banner-section-content {
        top: 20px;
        left: 30px;
    }

    .h2,
    h2 {
        font-size: var(--font-size-sub-heading);
    }

    .grid-col-1-mobile .grid-items {
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }

    .scrolling-page {
        display: flex;
        gap: 60px;
        flex-direction: column;
    }

    .image-with-text-page {
        padding: 80px 8px;
    }

    .image-with-text-content.scrolling-page-content {
        padding-bottom: 0px;
    }

    .insta-feed-content {
        flex-direction: column;
        align-items: center;
    }

    .site-menu {
        align-items: center;
    }

    .image-with-text-first-image {
        width: 100%;
    }

    .image-with-text-second-image {
        width: 100%;
    }

    img {
        width: 100%
    }
}

@media (max-width: 622px) {
    .grid-col-2-mobile .grid-item {
        width: calc(50% - 16px);
        max-width: calc(50% - 16px);
    }

    /* .grid-col-2-mobile .grid-items {
        width: calc(86% - 20px);
        max-width: calc(86% - 20px);
    } */

    /* .main-heading-content {
        grid-template-columns: 28% 15% 49%;
        top: 30px;
    }

    .hem-bar {
        width: 22px;
    }

    h2 {
        font-size: 20px;
    }

    .banner-page-content {
        top: 140px;
        transform: translateX(20px);
    }

    .banner-page-discription {
        font-size: 12px;
        line-height: normal;
        max-width: 300px;
    }

    .button {
        padding: 7px 9px;
    }

    .primary-button {
        font-size: 12px;
    }

    .main-heading {
        font-size: 13px;
    }

    .disclaimer-page {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }

    .payment-section {
        flex-direction: column;
        align-items: center;
    }

    .disclaimer {
        align-items: center;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 20%);
        right: auto;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 20%);
        left: auto;
    }

    .grid {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-icons {
        align-self: center;
    }

    .banner-page-content {
        gap: 6px;
    }

    ul.footer-page-content.grid-col-4-dekstop.grid {
        align-items: center;
    }

    h4.banner-page-heading {
        font-size: 13px;
        line-height: 24px;
        text-align: center;
    }

    .rich-text-pahe-heading {
        font-size: 13px;
        max-width: 339px;
    }

    .h4,
    h4 {
        font-size: 15px;
    }

    .banner-page-image {
        aspect-ratio: 3/3;
    }

    .banner-page-content.image-with-banner-section-content {
        top: 100px;
        left: 0px;
    }

    img {
        object-fit: cover;
    }

    .site-menu {
        align-items: center;
    }

    .images-with-text-images.grid-items {
        display: flex;
        flex-direction: column;
        align-self: center;
    }


    .image-with-text-first-image img {
        width: 100%;
    }

    .image-with-text-second-image img {
        width: 100%;
    }

    img {
        width: 100%
    }

    .image-with-text-first-image {
        position: static;
    }

}  */